*{
    transition: all 0.3s;
}
@font-face {
    font-family: "font";
    src: url("font/fonts.ttf");
}
body{
    background-color: white;
    margin: 0%;
    font-family: font;
}

h1{
    font-size: 1.5vw;
}
.other{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}

/* nav bar */

.nav{
    height:4.5vw;
    display: flex;
    background-color: skyblue;
   padding: 0.6vw 1vw 0.6vw 5.5vw;
}

.nav-right,.nav-left{
   margin-top: auto;
   display: flex;
   list-style: none;
  
}

.nav-elements{
    width: 82.5vw;
    display: flex;
    justify-content: space-between;
}
li{
    padding: 1.2vw 1vw;
    font-size: 1.16vw;
    font-weight: bold;
}

li:hover{
    transform: scale(1.07);
    cursor: pointer;
}


#logo2 {
    background-color: black;
    justify-items: center;
    width: 3.25vw;
    height: 3.25vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24vw;
    margin: 0.12vw 0.12vw 0.12vw 0.12vw;
  }
  
  #logo2:hover {
    scale: 1.1;
  }

  .logo h6{
    font-size: 0.7vw;
    margin-top: -0.3vw;
  }

  .logo{
    text-align: center;
  }

/* banner */

.banner{
    background:  linear-gradient(45deg, blue,black);
    height: 20vw;
    border-radius: 40px;
    margin-top: 8vw;

    cursor: pointer;
}

/* category */

.card{
    text-align: center;
    margin-top: 5%;
    
}
.imggg{
    /* height: 65%; */
    height: 12.7vw;
    width: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ccard{
    height: 300px;
    height: 20vw;
    display: inline-block;
    width:15vw;
    margin: 2%;
    border-radius: 20px;
    cursor: pointer;
    box-shadow:  0px 0px 22px -8px rgb(122 119 119);
}
.ccard:hover{
    transform: scale(1.04);
    box-shadow:  0px 0px 22px 0px rgb(122 119 119);
}
.ccard div{
    background-color: white;
    z-index: 3;
    height: 35%;
    margin-top: -11%;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ccard h1{
    font-size: 1.61vw;
    padding: 2vw 0rem;
}

/* options */
.options{
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 0%;
    margin-top: 5%;
}

.options h3{
    display:inline;
}
h3{
    font-size: 1.21vw;
}
.lawyer p{
    font-size: 1.2vw;
}
.options button{
    float:right;
    height:2.7vw;
    width:6vw;
    font-size: 1vw;
    margin-top: 0%;
    background-color: transparent;
    border:rgb(11, 140, 219) solid 2px;
    border-radius: 5px;
    color:rgb(11, 140, 219);
    font-weight: bolder;
    margin-right:3%;
}

.options div, .lawyer-list div{  
    text-align: center;
    padding-top: 4%; 
}

.list{
    display: flex;
    justify-content: space-between;
    width: 75vw;
}
.lawyer{
    display: flex;
    flex-direction: column;
    width: 15vw;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: auto;
}
.lawyer img:hover{
    transform: scale(1.04);
    /* box-shadow: 4px 2px 15px 0px black; */
    box-shadow:  0px 0px 15px 8px rgb(122 119 119);

}

.lawyer img{
    height: 10vw;
    width: 10vw;
    border-radius: 100vw;
    border: 1px solid black;
    box-shadow:  0px 0px 22px 4px rgb(122 119 119);
}
.lawyer-type{
    font-size: 1.7vw;
}
.lawyer p{
    margin-top: -0.6vw;
    margin-bottom: 0.3vw;
}
/* lawyer-list */

.lawyer-list{
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 0%;
    margin-top: 5%;
}

.lawyer-list div{  
    text-align: center;
}


/* article-section */
.article-section{
    display:flex;
    margin-top: 5%;
    height: 25vw;
    text-align: left;
    padding: 3%;
}

.div1{
    width:40vw;
    padding: 1%;
    text-align: left;
}

.article{
    width:30vw;
    padding: 1%;
}

.article img{
    height:12vw;
    width:20vw;
    background-color: cyan;
    border-radius: 20px;
}

.article img:hover{
    scale: 1.02;
    box-shadow: 4px 4px 6px 0px  rgb(122 119 119);
    transition: all 0.3s;
}

.div1 button{
    height:2.7vw;
    width:10vw;
    font-size: 0.9vw;
    background-color: rgb(67, 171, 235);
    border-radius: 5px;
    color:white;
    font-weight: bolder;
    border: white;
}

.div1 button:hover{
    background-color: rgb(141, 199, 235);
    color:black;
}

.article h3 , h5{
    margin: 3%;
}

/* footer */

.footer{
    display: flex;
    margin-top: 5%;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 0%;
}

.footer img{
    height: 50vh;
    margin-right: 5%;
    padding: 1%;
}

.half{
    text-align: left;
    padding: 5%;
}

.footer button{
    height:60px;
    width:200px;
    background-color: transparent;
    border:rgb(11, 140, 219) solid 2px;
    border-radius: 5px;
    color:rgb(11, 140, 219);
    font-size: large;
    font-weight: bolder;
}

.foter{
    height: 15rem;
    background: linear-gradient(white, skyblue);
}
