@font-face {
  font-family: "font";
  src: url("../font/fonts.ttf");
}

* {
  font-family: font;
}

body {
  margin: 0%;
  padding: 0%;
  color: white;
}

#heading {
  font-size: 3vw;
  margin: 4%;
}

.banner {
  background: linear-gradient(65deg, skyblue,black);
  padding: 3%;
  text-align: center;
  height: 50vh;

}

.container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width:65vw ;
  margin:auto;
}

.container input{
  margin: 3px auto;
}
.searcharea{
  display: flex;
}
.locality, .keyword{
  margin: auto;
  border: black 2px solid;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 6vh;
  border-radius: 1vw;
  text-align: center;
}

.btn{  
  padding-top:2.5%;  
}

.btn button{
  width:7vw;
  height: 5vh;
  font-size:large;
  background-color: white;
  border-radius: 10px;
}

.btn button:hover{
  background-color:lightgrey;
  scale:1.1;
  font-size:larger;
}

.locality {
  margin-right: 0%;
  width: 20vw;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.keyword {
  margin-left: 0%;
  width: 30vw;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

input {
  border: white;
  height: 5vh;
  outline: none;
  font-size: medium;
}

.locality input {
  width: 15vw;
}

.keyword input {
  width: 25vw;
}

.popular-searches {
  margin-left: 20%;
  width: 60vw;
  display: table;
  margin-top: 2%;
  color: grey;
}

.popular-searches a {
  display: table-cell;
  text-decoration: none;
  color: grey;
}

a:hover {
  scale: 1.1;
  color: rgb(79, 76, 76);
}


.outer {
  margin: auto;
}

i {
  color: black;
}

input:hover {
  background-color: white;
}

.doc {
  display: flex;
  padding: 3%;
  width: 60vw;
  color: black;
  box-shadow: grey 2px 2px 3px 3px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.doc div {
  margin: auto 2%;
}

.doc img {
  border-radius: 30vw;
  height: 15vw;
  width: 15vw;
  box-shadow: grey 2px 2px 3px 3px;
}

.card {
  text-align: center;
}

.card button {
  margin-top: 6%;
  border: transparent;
  background-color: transparent;
  color: transparent;
  font-size: larger;
  color: rgb(22, 185, 235);
  font-weight: bolder;
}

.card button:hover {
  scale: 1.1;
  color: lightskyblue;
  font-size: x-large;
}

.normal {
  text-decoration: none;
  color: rgb(61, 56, 56);
  font-weight: bold;
}

.normal i {
  width: 10%;
  height: 1vw;
  text-align: center;
}

a {
  text-decoration: none;
}

.name {
  color: rgb(22, 185, 235);
}

.normal .spaces {
  margin: 0%;
  width: 5%;
}

.availability {
  margin: 5%;
  color: green;
  padding: 5%;
  font-weight: bolder;
  font-size: larger;
}

.availability i {
  margin-right: 2%;
}

.booking-btn {
  width: 14vw;
  height: 3vw;
  padding: 0.5vw 0;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  color: #fff;
  background-color: #14bef0;
  border: 1px solid #14bef0;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: 700 !important;
  font-size: 0.9vw;
  font-family: Camphor, sans-serif;
  box-sizing: inherit;
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  margin: 0em;
}

.booking-btn:hover {
  background-color: #65d8fb;
}
.availability{
  width: 16vw;
}

@media screen and (max-width : 850px){
  .container {
    flex-direction: column;
  }
  .locality {
    width: 30vw;
  }
  
  .keyword  {
    width: 40vw;
  }
}