@font-face {
    font-family: "font";
    src: url("../font/fonts.ttf");
}
.Mainarticles{
    display: flex;
    flex-wrap: wrap;
    width:93vw;
    margin: 3vw auto;
}
.article{
    font-family: font;
    width:28.5vw;
    margin:3vw auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    border-radius: 2vw;
    box-shadow:  0px 0px 22px -4px rgb(122 119 119);
    /* background-color: rgba(198, 189, 179, 0.193); */
    padding: 2vw;
}
.ArtHeading{
    margin-top: 1vw;
    font-size: 2vw;
    font-weight: bold;
}

.article img{
    height: 15vw;
    /* width: 16vw; */
    border-radius: 2vw;
    box-shadow:  0px 0px 22px -4px rgb(122 119 119);
}
.content{
    line-height: 1.6vw;
    font-size: 1.1vw;
    overflow: hidden;
    position: relative;
}
.tohide{
    height: calc(3*1.6vw);
}

.tohide::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1.6vw;
    width: 100%;
    background: linear-gradient(90deg, transparent , white) ;
}

.article button{
    /* padding: 0.6vw 1.9vw; */
    background:linear-gradient(45deg ,grey 20%, rgba(0, 0, 0, 0.823) 80%);
    box-shadow:  0px 0px 22px 0px rgb(122 119 119);
    height: 3.1vw;
    width: 10vw;
    font-size: 1vw;
    border-radius: 1vw !important;
    background-color: rgba(0, 0, 0, 0.533);
    color: aliceblue;
    font-family: font;
}
.modal-title{
    font-size: 2vw;
}
.bySome{
    margin-top: -1vw;
    padding: 1vw;
    font-size: 1.1vw;
    display: flex;
}
.division{
    display: flex;
    margin: 0vw 2vw;

}
.division p{
    padding: 1vw 1.4vw;
    font-size: 1.03vw;
    margin-bottom: 0;
}
.npara{
    font-size: 1.03vw;
    padding: 1vw 1.4vw;
    margin: -1vw 2vw 0vw 2vw;
}

.division img{
    margin: auto;
}
.btn-close{
 display: none;       
}

@media screen and (max-width: 850px){
    .article{
        width:40vw;
    }
    .ArtHeading{
        font-size: 3vw;
    }
    .article img{
        height: 23vw;
    }
    .content{
        line-height: 2.3vw;
        font-size: 2vw;
    }
    .tohide{
        height: calc(3*2.3vw);
    }
    
    .tohide::after{ 
        height: 2.3vw;
    }
    .article button{
        height: 5vw;
        width: 16vw;
        font-size:2.2vw;
    }
    
    .bySome{
        font-size: 1.8vw;
    }
    .division{
        flex-direction: column;
    }
    .division p{
        font-size: 1.5vw;
    }
    .npara{
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 550px){
    .division p{
        font-size: 2.7vw;
    }
    .npara{
        font-size: 2.7vw;
    }
    .division img{
        margin-top: 2vw;
    }
    .bySome{
        font-size: 2.3vw;
    }
    .modal-title{
        font-size: 3.4vw;
    }   
}