@font-face {
    font-family: "font";
    src: url("../font/fonts.ttf");
}
body{
    font-family: font;
}

.box2{
    background: rgba(10, 24, 26, 0.116);
    display: flex;
  width: 70vw;
  height: 80vh;
  /* height: 30rem; */
  margin: 5vw auto;
  border-radius: 1.3rem;
  box-shadow:  0px 0px 22px 0px rgb(122 119 119);
}
.box2 img{
    /* height: 37vw; */
    width: 40vw;
    filter: saturate(1.6);
    border-radius: 1.3rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.login{
    width: 33vw;
    justify-content: center;
    text-align: center;
}
.headlogin{
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 0;
}
.link{
    text-decoration: none;
    margin: 1px auto;
}
.btn, .bttn {
    margin-top: 9vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.bttn{
    overflow-y:scroll;
    scroll-behavior: smooth;
    scrollbar-arrow-color: aqua red;
    scrollbar-color: red pink !important;
     height: 42.5vh;
     padding: 1vw;
     margin-top:1vw !important;
     margin-bottom: -1.7vw !important;
     /* scrollbar-color: red yellow; */
}
.btn a, .bttn a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#Client, #Lawyer, #Register, #Login{
    font-family: font;
    color: aliceblue;
    font-size: 1.2vw;
    padding: 0.3vw 2vw;
    margin-top: 1vw;
    border-radius: 12px;
    border: 1px solid grey;
    background:linear-gradient(45deg ,grey 20%, rgba(0, 0, 0, 0.823) 80%);
}
#Client{
    margin-top: 9vw;
}

#Client:hover,#Register:hover, #Lawyer:hover, #Login:hover{
         font-weight: bold;
         background: white;
         color: black;
         transition: all 0.4s;
}

.layer{
    /* height: 40vh; */
    /* width: 40vw; */
    position: absolute;
    background:linear-gradient(45deg ,blue 20%, rgb(146, 20, 20) 80%);
    opacity: 0.4;
    border-radius: 1.3rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.headlogin{
    margin-top: 2vw;
}
.btn , .bttn{
    padding: 1vw 4vw;
    margin-top: 0vw;
}
.btn p, .bttn p{
    text-align: left;
    margin-bottom: 0;
}
.btn input, .bttn input, .bttn select, .btn select{
    font-family: font;
    padding: 0.3vw 1vw;
    border: none;
    border-radius: 2rem;
}
.btn spam, .bttn spam{
    font-size: 0.7rem;
}
#choose_File{
    width: 10vw;
    font-size: 0.7rem;
}
.btn div, .bttn div{
    display: flex;
    justify-content: space-evenly;
}

#Register{
    margin-top: 1.6vw;
}
@media screen and (max-width: 1200px){
    .headlogin{
        font-size: 34px;
    }
    #Client, #Lawyer, #Register, #Login{
        font-family: font;
        font-size: 20px;
    }
    #Login, #Register{
      /* margin-top: 35px;  */
      width: 200px; 
      margin: 35px auto 1px auto;
    }
}
@media screen and (max-width: 850px){
    .box2{
        width: 80vw;
        height: 80vh;
    }
    .login{
        /* padding: 3rem; */
        width: 80vw ;
    }
    .box2 img{
        display: none;
    }
    #Client, #Lawyer, #Register, #Login{
        font-size: 18px !important;
    }
    #Lawyer{
        margin-top: 3vw;
    }
    .flogin{
        margin-top: 15vw;
        padding: 5vw 20vw;
    }
}